* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    color: white;
    background-color: rgb(50, 51, 54);
    font-family: 'Poppins', sans-serif;
}
header {
    font-size: 26px;
    font-weight: 700;
    padding: 20px 0;
}
nav header {
    font-size: 30px;
    padding: 10px;
}
nav a {
    color: white;
}
#navbar {
    position: fixed;
    min-width: 300px;
    width:20%;
    height: 100%;
    border-right: solid;
    border-right-width: initial;
    border-right-style: solid;
    border-right-color: rgba(0, 22, 22, 0.4);
    border-color: rgba(0, 22, 22, 0.4);
}
nav {
    display: inline-block;
}
#navbar li {
    padding: 10px;
    font-size: 22px;
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#main-doc {
    position: absolute;
    margin-left: 340px;
    padding:0 30px 0 0;
    margin-bottom: 110px;
}
section {
    text-align: justify;   
}
section ul {
    padding: 20px;
}
table{
    margin: 0 auto;
    width: 90%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
pre {
    background-color: rgb(27, 27, 27);
    padding: 10px;
    font: monospace;
    font-size: 18px;
}
pre, code {
    white-space: pre-line;
}

@media screen and (max-width:1024px) {
    body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #main-doc {
        margin: 310px 0 0 0;
    }
    section {
        margin:0 auto;
        padding: 30px;
    }
    #navbar {
        position: absolute;
        min-width: 300px;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
    }
    #navbar ul {
        border: 1px solid white;
        height: 210px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}

@media screen and (max-width:815px) {
    body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #main-doc {
        margin: 310px 0 0 0;
    }
    section {
        margin:0 auto;
        padding: 30px;
    }
    #navbar {
        position: absolute;
        min-width: 300px;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
    }
    #navbar ul {
        border: 1px solid white;
        height: 210px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}